*.o
*.lst
*.hex
*.lss
*.lst
*.map
*.sym
*.eep
*.elf
*.aws
*.s
*.zip
.DS_Store
.dep
usb/default
.project
.gitignore
chrome/build_MakersToyPCR
chrome/build_NinjaPCR
Thums.db
eagle/*#*
