/cad/2d/jig*
/cad/2d/manufacture*
/cad/2d/バックアップ*
/eagle/*#*
/eagle/*panel*
/eagle/*seeedbom*
/eagle/*CustomerProvidedParts*
*.o
*.lst
*.hex
*.lss
*.lst
*.map
*.sym
*.eep
*.elf
*.aws
*.s
*.zip
.DS_Store
.dep
usb/default
.project
.gitignore
chrome/build_MakersToyPCR
chrome/build_NinjaPCR
eagle/*#*
eagle/*ver2-170831*
arduino/NinjaPCR/Slack.ino
Thums.db
arduino/NinjaPCR/Slack.ino
*~HEAD
*~HEAD_*

